# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Java
*.class
bin/
build/
out/
*.jar

# C/C++
*.o
*.obj
*.exe

# Node.js
node_modules/
dist/
